# local
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store

# private 新clone项目时需要注意别落下这些
archives
projects
notia-*
.env
*.local

# frame-work config
pnpm-lock.yaml
node_modules
.turbo
dist
dist-ssr
logs
*.log*