# normal
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
stats.html
logs
*.log*
.env

# frame-work config
.turbo
.next

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
