# pnpm 配置
# pnpm 7 参考：https://blog.csdn.net/qq_21567385/article/details/123948061

registry=https://registry.npmmirror.com/ # 新版淘宝镜像
shamefully-hoist=true # 需要设为true，否则安装的模块无法放置到 node_modules 目录下
strict-peer-dependencies=false # 不安装那个脑残玩意
link-workspace-packages = true # true ，使用本地可用的 packages;
