# 同步作用于 .eslintrc.js
# https://cn.eslint.org/docs/user-guide/configuring#ignoring-files-and-directories
# https://cn.eslint.org/docs/user-guide/configuring#ignoring-files-and-directories

# files
.idea
.DS_Store
.npmrc
.eslintignore
.gitignore
.prettierignore
*.sh
*.md
*.woff
*.ttf
*.svg
*.ico
.husky
LICENSE
pnpm-lock.yaml
# dirs
archives
dist
/bin
/public
/docs
**/node_modules/**
**/public/**
